#headerMesero{
    height: 100px;
    width: 100%;
    margin: 0;
    background: url(https://m.media-amazon.com/images/I/51mk2Y47DbL._AC_.jpg);
    font-family: cambria;
    z-index: 1;
    position: relative;
    article{
        display: flex;
        padding: 10px;
        width: calc(100% - 20px);
        height: -webkit-fill-available;
        align-items: center;
        .categorias{
            display: block;
            width: calc(100% - 100px);
            ul{
                display: flex;
                li{
                    margin: 0px 20px;
                    list-style: none;
                    font-size: 20px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        transition: 500ms ease-in-out;
                        &:hover{
                            background-color: rgb(25, 211, 50);
                            color: #fff;
                            padding: 10px 20px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
        .logout{
            width: 100px;
            a{
                font-size: 20px;
                text-decoration: none;
                color: #fff;
                transition: 500ms ease-in-out;
                &:hover{
                    background-color: rgb(25, 211, 50);
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                }
            }
        }
    }
}